/*Grabbed from the gapminder example, slightly modified*/

html {
    width: 100%;
}
body {
    min-width: 600px;
    max-width: 900px;
    min-height: 800px;
    width: 75%;
    margin: auto;
}
.content {
    margin: 2em;
}
/*NEW!!!!111 -------------------------------------------------------*/
header, footer {
    padding: 1em;
    margin-bottom = 15px;
    color: white;
    background-color: #150080;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}
/*===================================================================*/

h1 {
    margin: 1.75em 0 0 0;
    /*color: #2e484c;*/
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #0d8ba1;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #1a5952;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    text-align: justify;
    text-justify: inter-word;
}
